<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Java</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header id="header"></header>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-2">
      <sidebar id="sidebar"></sidebar>
    </div>
    <div class="col-lg-10">
      <h1 class="fs-headline1 mb24">Question title</h1>

      <div class="team">

      </div>
    </div>
  </div>
</div>
<footer id="footer"></footer>
<script type="module" src="../static/js/authorization_check.js"></script>
<script src="../static/js/header.js"></script>
<script src="../static/js/sidebar.js"></script>
<script src="../static/js/footer.js"></script>
</body>
</html>