<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuestionById</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header id="header"></header>
<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-lg-2">
			<sidebar id="sidebar"></sidebar>
		</div>
		<div class="col-lg-10">
			<br/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3 class="fs-headline1 mb24" id="title-642380">Question title</h3>
						<div class="d-flex">
							<div class="flex--item">
								<span class="fc-light mr2" style="color: #b7b1af;" id="persistDateTime">Вопрос задан</span>
								<time datetime="" title="">4 года 9 месяцев назад</time>
							</div>&nbsp;
							<div class="flex--item">
								<span class="fc-light mr2" style="color: #b7b1af;" id="lastUpdateDateTime">Последняя активность</span>
								<time datetime="" title="">4 года 9 месяцев назад</time>
							</div>
						</div>
						<hr/>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-1 text-center">
									<p>
										<svg class="ui-lib-mitten-icon _theme_white mitten-like-button_theme_undefined"
										     width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
											<path transform="translate(6, 3)"
											      d="M10 0.5C14.509 0.5 14.6493 3.8605 14.0025 7C13.8604 7.69002 13.6802 8.36936 13.5
											      9H21C21 9.6985 20.9758 10.3647 20.9305 11C20.2622 20.3689 15 23 15 23H5L4 9.99999C7.5
											      8 9.5 3 10 0.5ZM10.8485 11H18.925C18.6206 14.939 17.4419 17.4475 16.3661
											      18.9716C15.7342 19.8667 15.1166 20.4525 14.6828 20.8019C14.5868 20.8792 14.4998 20.945
											      14.4236 21H6.85206L6.08364 11.0105C7.7312 9.75251 8.97805 8.03148 9.87616 6.40365C10.5657
											      5.15381 11.097 3.87294 11.4688 2.73296C11.6065 2.79228 11.703 2.85406 11.7697
											      2.90665C11.956 3.05352 12.1278 3.29856 12.2209 3.80168C12.4364 4.96525 12.0893 6.65732
											      11.577 8.45056L10.8485 11Z"
											      fill-rule="evenodd" clip-rule="evenodd"></path>
											<path transform="translate(6, 3)" d="M3 23L2 10H0V23H3Z" fill-rule="evenodd"
											      clip-rule="evenodd"></path>
										</svg>
										+
									</p>
									<p><span class="ai-center" data-value="0">0</span></p>
									<p>
										<svg class="ui-lib-mitten-icon _theme_white mitten-dislike-button_theme_undefined"
										     width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
											<path transform="translate(26, 29) rotate(180)"
											      d="M10 0.5C14.509 0.5 14.6493 3.8605 14.0025 7C13.8604 7.69002 13.6802 8.36936 13.5 9H21C21
										      9.6985 20.9758 10.3647 20.9305 11C20.2622 20.3689 15 23 15 23H5L4 9.99999C7.5 8 9.5 3 10
										      0.5ZM10.8485 11H18.925C18.6206 14.939 17.4419 17.4475 16.3661 18.9716C15.7342 19.8667 15.1166
										      20.4525 14.6828 20.8019C14.5868 20.8792 14.4998 20.945 14.4236 21H6.85206L6.08364
										      11.0105C7.7312 9.75251 8.97805 8.03148 9.87616 6.40365C10.5657 5.15381 11.097 3.87294 11.4688
										      2.73296C11.6065 2.79228 11.703 2.85406 11.7697 2.90665C11.956 3.05352 12.1278 3.29856 12.2209
										      3.80168C12.4364 4.96525 12.0893 6.65732 11.577 8.45056L10.8485 11Z"
											      fill-rule="evenodd" clip-rule="evenodd"></path>
											<path transform="translate(26, 29) rotate(180)" d="M3 23L2 10H0V23H3Z" fill-rule="evenodd"
											      clip-rule="evenodd"></path>
										</svg>
										-
									</p>
									<p>
										<svg class="ui-lib-mitten-icon _theme_white mitten-dislike-button_theme_undefined"
										     width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
											<path d="m18 15a3.989 3.989 0 0 0 -3.222 1.65l-5.015-3.343a3.722 3.722 0 0 0
										0-2.614l5.015-3.343a3.985 3.985 0 1 0 -.778-2.35 3.883 3.883 0 0 0 .044.435l-5.391 3.594a4 4 0 1 0
										0 5.942l5.391 3.594a3.883 3.883 0 0 0 -.044.435 4 4 0 1 0 4-4z" fill="#000000"
											      data-original="#000000" class=""></path>
										</svg>
										Share
									</p>
								</div>
								<div class="col-md-11" id="description">
									<p>
										У меня есть сайт на Wordpress (тема Elision). Здесь хедер и футер статичный, а место между ними
										перезагружается без перезагрузки всей страницы.
									</p>
									<p>
										Я хочу, чтобы ссылка на главную страницу была без AJAX и полностью перезагружала страницу,
										так как моя главная страница должна быть без хедера и футера.
									</p>
									<div class="d-flex ps-relative">
										<a href="" class="post-tag js-gps-track" title="" rel="tag">#ajax</a>&nbsp;
										<a href="" class="post-tag js-gps-track" title="" rel="tag">#wordpress</a>&nbsp;
										<a href="" class="post-tag js-gps-track" title="" rel="tag">#link</a>
									</div>
									<p>
									<div class="user-info" style="float: right; display: table">
										<div class="user-action-time" style="color: #b7b1af; display: table-cell">
											вопрос задан 21 мар '17 в 11:07
										</div>
										<div class="user-gravatar" style="display: table-cell;">
											<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg"
											     alt="" width="32" height="32" class="bar-sm">
										</div>
										<div class="user-details" itemprop="author" itemscope="" itemtype="" style="display: table-cell;">
											<div class="-flair">
												<a href="">Николай</a>
												<span class="reputation-score" title="уровень репутации 1" dir="ltr">1</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr/>
					</div>
					<div class="col-md-12">
						<div class="d-flex bd-highlight mb-3">
							<div class="mr-auto p-2 bd-highlight">
								<h5 class="mb0" data-answercount="1">
									1 ответ
									<span style="display:none;" itemprop="answerCount">1</span>
								</h5>
							</div>
							<div class="p-2 bd-highlight">
								<a href="">По дате публикации</a>
								<a href="">По голосам</a>
							</div>
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-1 text-center">
									<p>
										<svg class="ui-lib-mitten-icon _theme_white mitten-like-button_theme_undefined"
										     width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
											<path transform="translate(6, 3)"
											      d="M10 0.5C14.509 0.5 14.6493 3.8605 14.0025 7C13.8604 7.69002 13.6802 8.36936 13.5
											      9H21C21 9.6985 20.9758 10.3647 20.9305 11C20.2622 20.3689 15 23 15 23H5L4 9.99999C7.5
											      8 9.5 3 10 0.5ZM10.8485 11H18.925C18.6206 14.939 17.4419 17.4475 16.3661
											      18.9716C15.7342 19.8667 15.1166 20.4525 14.6828 20.8019C14.5868 20.8792 14.4998 20.945
											      14.4236 21H6.85206L6.08364 11.0105C7.7312 9.75251 8.97805 8.03148 9.87616 6.40365C10.5657
											      5.15381 11.097 3.87294 11.4688 2.73296C11.6065 2.79228 11.703 2.85406 11.7697
											      2.90665C11.956 3.05352 12.1278 3.29856 12.2209 3.80168C12.4364 4.96525 12.0893 6.65732
											      11.577 8.45056L10.8485 11Z"
											      fill-rule="evenodd" clip-rule="evenodd"></path>
											<path transform="translate(6, 3)" d="M3 23L2 10H0V23H3Z" fill-rule="evenodd"
											      clip-rule="evenodd"></path>
										</svg>
										+
									</p>
									<p><span class="ai-center" data-value="0">0</span></p>
									<p>
										<svg class="ui-lib-mitten-icon _theme_white mitten-dislike-button_theme_undefined"
										     width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
											<path transform="translate(26, 29) rotate(180)"
											      d="M10 0.5C14.509 0.5 14.6493 3.8605 14.0025 7C13.8604 7.69002 13.6802 8.36936 13.5 9H21C21
										      9.6985 20.9758 10.3647 20.9305 11C20.2622 20.3689 15 23 15 23H5L4 9.99999C7.5 8 9.5 3 10
										      0.5ZM10.8485 11H18.925C18.6206 14.939 17.4419 17.4475 16.3661 18.9716C15.7342 19.8667 15.1166
										      20.4525 14.6828 20.8019C14.5868 20.8792 14.4998 20.945 14.4236 21H6.85206L6.08364
										      11.0105C7.7312 9.75251 8.97805 8.03148 9.87616 6.40365C10.5657 5.15381 11.097 3.87294 11.4688
										      2.73296C11.6065 2.79228 11.703 2.85406 11.7697 2.90665C11.956 3.05352 12.1278 3.29856 12.2209
										      3.80168C12.4364 4.96525 12.0893 6.65732 11.577 8.45056L10.8485 11Z"
											      fill-rule="evenodd" clip-rule="evenodd"></path>
											<path transform="translate(26, 29) rotate(180)" d="M3 23L2 10H0V23H3Z" fill-rule="evenodd"
											      clip-rule="evenodd"></path>
										</svg>
										-
									</p>
								</div>
								<div class="col-md-11" id="answers">
									<p>
										Elision - обычная тема на основе Visual Composer с расширениями от QODE. Страница выводится через
										php без всякого ajax. ajax используется при переходах между страницами. Видимо, вопрос в этом.
										В настройках темы есть переключатель AJAX Animations ON/OFF, выключите его.
									</p>
									<div class="d-flex ps-relative">
										<a href="" class="post-tag js-gps-track" title="" rel="tag">#ajax</a>&nbsp;
										<a href="" class="post-tag js-gps-track" title="" rel="tag">#elision</a>
									</div>
									<p>
									<div class="user-info" style="float: right; display: table">
										<div class="user-action-time" style="color: #b7b1af; display: table-cell">
											ответ дан 21 мар '17 в 12:35
										</div>
										<div class="user-gravatar" style="display: table-cell;">
											<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg"
											     alt="" width="32" height="32" class="bar-sm">
										</div>
										<div class="user-details" itemprop="author" itemscope="" itemtype="" style="display: table-cell;">
											<div class="-flair">
												<a href="">Константин</a>
												<span class="reputation-score" title="уровень репутации 28" dir="ltr">28</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr/>
					</div>
					<div class="col-md-12">
						<div class="post-layout--right js-post-comments-component">
							<div id="comments-642380" class="comments js-comments-container bt bc-black-075 mt12"
							     data-post-id="title-642380" data-min-length="15">
								<ul class="comments-list js-comments-list" data-remaining-comments-count="1" data-canpost="false"
								    data-cansee="true" data-comments-unavailable="false" data-addlink-disabled="true">
									<li id="comment-912556" class="comment js-comment" data-comment-id="912556"
									    data-comment-owner-id="241177" data-comment-score="0">
										<div class="comment-text  js-comment-text-and-form">
											<div class="comment-body js-comment-edit-hide">
											<span class="comment-copy">Так то работает, но тогда плавные переходы пропадут...))
												Или это лучшее решение?)
											</span>
												<div class="d-inline-flex ai-center">
													–&nbsp;<a href="" title="1 балл репутации" class="comment-user owner">Николай</a>
												</div>
												<span class="comment-date" dir="ltr"><a class="comment-link" href="#comment912556_642380">
												<span title="" class="relativetime-clean">21 мар '17 в 13:05</span></a></span>
											</div>
										</div>
									</li>
									<li id="comment-912589" class="comment js-comment" data-comment-id="912589"
									    data-comment-owner-id="220220" data-comment-score="0">
										<div class="comment-text  js-comment-text-and-form">
											<div class="comment-body js-comment-edit-hide">
											<span class="comment-copy">Тогда я не понимаю вопроса. Покажите конкретную страницу и
												конкретный элемент, который обновляется через ajax.
											</span>
												<div class="d-inline-flex ai-center">
													–&nbsp;<a href="" title="28 баллов репутации" class="comment-user">Константин</a>
												</div>
												<span class="comment-date" dir="ltr"><a class="comment-link" href="#comment912589_642380">
												<span title="" class="relativetime-clean">21 мар '17 в 13:47</span></a></span>
											</div>
										</div>
									</li>
									<li id="comment-915474" class="comment js-comment" data-comment-id="915474"
									    data-comment-owner-id="241177" data-comment-score="0">
										<div class="comment-text  js-comment-text-and-form">
											<div class="comment-body js-comment-edit-hide">
											<span class="comment-copy">Вот эта тема - demo.qodeinteractive.com/elision.
												Хочу, чтобы при нажатии пункт меню "Home" открывалась
												главная с полной перезагрузкой страницы.</span>
												<div class="d-inline-flex ai-center">
													–&nbsp;<a href="" title="1 балл репутации" class="comment-user owner">Николай</a>
												</div>
												<span class="comment-date" dir="ltr"><a class="comment-link" href="#comment915474_642380">
												<span title="" class="relativetime-clean">24 мар '17 в 14:18</span></a></span>
												<span title="комментарий был изменён 2 раза">
                            <svg aria-hidden="true" class="va-text-bottom o50 svg-icon iconPencilSm" width="14"
                                 height="14" viewBox="0 0 14 14"><path
		                            d="m11.1 1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71
		                            0ZM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88Z"></path></svg>
                        </span>
											</div>
										</div>
									</li>
									<li id="comment-915513" class="comment js-comment" data-comment-id="915513"
									    data-comment-owner-id="220220" data-comment-score="0">
										<div class="comment-text  js-comment-text-and-form">
											<div class="comment-body js-comment-edit-hide">
											<span class="comment-copy">Похоже, только Page Transitions Off позволяет переключать страницы
												без ajax. Но я никак не могу понять, чем мешает наличие ajax перезагрузки? Не хотите
												<code>header</code> и <code>footer</code> - поставьте им <code>display: none;</code> и дело
												с концом. И пусть ajax туда пишет что хочет.</span>
												<div class="d-inline-flex ai-center">
													–&nbsp;<a href="" title="28 баллов репутации" class="comment-user">Константин</a>
												</div>
												<span class="comment-date" dir="ltr"><a class="comment-link" href="#comment915513_642380">
												<span title="" class="relativetime-clean">24 мар '17 в 14:54</span></a></span>
											</div>
										</div>
									</li>
									<li id="comment-918254" class="comment js-comment" data-comment-id="918254"
									    data-comment-owner-id="241177" data-comment-score="0">
										<div class="comment-text  js-comment-text-and-form">
											<div class="comment-body js-comment-edit-hide">
											<span class="comment-copy">Я хочу главную страницу - слайдер на весь экран с кнопкой "Войти"
												без хедера и футера. Я даже в header.php и footer.php поставил отображение хедера и футера
												везде, кроме главной. Но когда я нажимаю "Войти", открывается сайт с хедером и футером
												(так и должно быть). Но когда я нажимаю в меню "Главная", меня перекидает на главную страницу
												со слайдером, но хедер и футер не исчезает....))</span>
												<div class="d-inline-flex ai-center">
													–&nbsp;<a href="" title="1 балл репутации" class="comment-user owner">Николай</a>
												</div>
												<span class="comment-date" dir="ltr"><a class="comment-link" href="#comment918254_642380">
												<span title="" class="relativetime-clean">27 мар '17 в 17:04</span></a></span>
												<span title="комментарий был изменён 1 раз">
                            <svg aria-hidden="true" class="va-text-bottom o50 svg-icon iconPencilSm" width="14"
                                 height="14" viewBox="0 0 14 14"><path
		                            d="m11.1 1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71
		                            0ZM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88Z"></path></svg>
                        </span>
											</div>
										</div>
									</li>
									<li id="comment-918300" class="comment js-comment" data-comment-id="918300"
									    data-comment-owner-id="220220" data-comment-score="0">
										<div class="comment-text  js-comment-text-and-form">
											<div class="comment-body js-comment-edit-hide">
												<span class="comment-copy">Без кода помочь нельзя. Здесь не телепаты.</span>
												<div class="d-inline-flex ai-center">
													–&nbsp;<a href="" title="28 баллов репутации" class="comment-user">Константин</a>
												</div>
												<span class="comment-date" dir="ltr"><a class="comment-link" href="#comment918300_642380">
												<span title="" class="relativetime-clean">27 мар '17 в 17:49</span></a></span>
											</div>
										</div>
									</li>
									<br/>
									<div id="comments-link-642380" data-rep="50" data-anon="true">
										&nbsp;<a class="js-add-link comments-link disabled-link"
										         title="Используйте комментарии для запроса дополнительной информации или предложения улучшений."
										         href="#" role="button">Добавить комментарий</a>
									</div>
								</ul>
							</div>
						</div>
						<hr/>
					</div>
					<div class="col-md-12">

						<form id="post-form" action="" method="post" class="js-add-answer-component post-form">
							<input type="hidden" id="post-id" value="642353">
							<h2 class="space">Ваш ответ</h2>
							<div id="post-editor" class="post-editor js-post-editor">
								<div class="ps-relative">
									<div class="wmd-container mb12">
										<div class="js-stacks-validation">
											<div class="ps-relative">
												<label for="wmd-input"></label>
												<textarea id="wmd-input" name="post-text" class="wmd-input s-input bar0 js-post-body-field"
												          data-post-type-id="2" cols="137" rows="5" tabindex="101"
												          data-min-length=""></textarea>
											</div>
										</div>
									</div>
								</div>
								<aside class="d-flex ai-start jc-space-between js-answer-help s-notice s-notice__warning pb0 d-none"
								       aria-hidden="true">
									<div class="flex--item pt8">
										<p>Спасибо за ваш ответ!</p>
										<ul>
											<li>Пожалуйста, убедитесь, что <em>публикуемое сообщение отвечает на поставленный вопрос</em>.
												Предоставьте как можно больше деталей, расскажите про проведенное исследование.
											</li>
										</ul>
										<p>Но <em>избегайте</em> …</p>
										<ul>
											<li>Просьб помощи, уточнений или ответов на темы не относящиеся к вопросу.</li>
											<li>Ответов, основанных на мнениях; приводите аргументы основанные только на реальном опыте.</li>
										</ul>
										<p>Также, обратите внимание на заметку в справочном центре о том, <a href="">как
											писать ответы</a>.</p>
									</div>
								</aside>
							</div>
							<div class="form-submit cbt d-flex gsx gs4">
								<button id="submit-button" class="flex--item s-btn s-btn__primary s-btn__icon" type="submit"
								        tabindex="120" autocomplete="off" title="Нажимая на кнопку «Отправить ответ», вы соглашаетесь с нашим пользовательским соглашением, политикой конфиденциальности и политикой о куки">
									Отправить ответ
								</button>
							</div>
						</form>
						<hr/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer"></footer>
<script type="module" src="../static/js/authorization_check.js"></script>
<script src="../static/js/header.js"></script>
<script src="../static/js/sidebar.js"></script>
<script src="../static/js/footer.js"></script>
</body>
</html>