<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Java</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/js/user_auth_check.js"></script>
</head>
<body>
<header id="header"></header>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-2">
            <sidebar id="sidebar"></sidebar>
        </div>
        <div class="col-lg-10">
            <h1 class="fs-headline1 mb24">Tags</h1>
            <p class="fs-body2 wmx6 mb16">
                A tag is a keyword or label that categorizes your question with other, similar questions. Using the
                right tags makes it easier for others to find and answer your question.
            </p>
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight">
                    <label for="filterInput"></label><input type="text" id="filterInput" onkeyup=""
                                                            placeholder="Filter by tag name">
                </div>
                <div class="p-2 bd-highlight">
                    <a href="">Popular</a>
                    <a href="">Name</a>
                    <a href="">New</a>
                </div>
            </div>
            <div class="team">
                <div class="row mb-4">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex jc-space-between ai-center mb12">
                                    <div class="flex--item">
                                        <a href="#" class="post-tag" title="" rel="tag">tag name</a>
                                    </div>
                                </div>
                                <p class="card-text"> tag description some text....</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="flex-item">123123 questions</div>
                                    </div>
                                    <small class="text-muted">
                                        <div class="flex-item">
                                            <a href="#">123123 asked today</a>,
                                            <a href="#">123123 this week</a></div>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer"></footer>
<script src="/js/header.js"></script>
<script src="/js/sidebar.js"></script>
<script src="/js/footer.js"></script>
</body>
</html>