<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Java</title>
	<link rel="stylesheet"
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header id="header"></header>

<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-lg-2">
			<sidebar id="sidebar"></sidebar>
		</div>
		<div class="col-lg-10">
			<h1 class="fs-headline1 mb24">Users</h1>
			<div class="d-flex bd-highlight mb-3">
				<div class="mr-auto p-2 bd-highlight">
					<label for="myInput"></label><input type="text" id="myInput" onkeyup="" placeholder="Filter by user">
				</div>
				<div class="p-2 bd-highlight">
					<a href="">Reputation</a>
					<a href="">New users</a>
					<a href="">Voters</a>
					<a href="">Editors</a>
					<a href="">Moderators</a>
				</div>
			</div>
			<div class="team">
				<div class="row mb-4">
					<div class="col col-md-3">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col col-md-3">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col col-md-3">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col col-md-3">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col col-md-3">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
					<div class="col col-md-3 col-md-offset-1">
						<div class="image">
							<img src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg" alt="" width="48" height="48" align="left" class="rounded d-block">
						</div>
						<div class="user d-flex flex-column">
							<a href="">Tom R.</a>
							<span class="user-location">UK</span>
							<span class="reputation">500</span>
						</div>
						<div class="tags ml-5">
							<a href="">java</a>
							<a href="">spring-boot</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer"></footer>
<script type="module" src="../static/js/authorization_check.js"></script>
<script src="../static/js/header.js"></script>
<script src="../static/js/sidebar.js"></script>
<script src="../static/js/footer.js"></script>
</body>
</html>